<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="pylintConfigurations" name="Pylint Configurations" schema="schema/pylintConfigurations.exsd"/>

   <extension
      point="org.eclipse.core.resources.natures"
      id="pythonNature"
      name="Python Nature">
      <runtime>
         <run class="org.dcarew.pythontools.core.builder.PythonNature"/>
      </runtime>
   </extension>

   <extension
      point="org.eclipse.core.resources.builders"
      id="pythonBuilder"
      name="Python Builder">
      
      <builder>
         <run class="org.dcarew.pythontools.core.builder.PythonBuilder"/>
      </builder>
   </extension>
  
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.dcarew.pythontools.pyFile"
            name="Python"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="py"
            default-charset="UTF-8"/>
   </extension>

   <extension point="org.eclipse.core.resources.markers"
         id="pythonMarker" name="Python Problem">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
      <attribute name="errorCode"/> 
   </extension>

   <!-- launch config -->
   
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.dcarew.pythontools.core.launching.PythonLaunchConfigurationDelegate"
            delegateName="Python Launcher"
            id="org.dcarew.pythontools.launchConfig"
            modes="run,debug"
            name="Python Application">
      </launchConfigurationType>
   </extension>

   <!-- debugging -->
   <extension
      id="breakpointMarker"
      point="org.eclipse.core.resources.markers">

      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>

   <extension point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.dcarew.pythontools.core.debugger.PythonBreakpoint"
            id="org.dcarew.pythontools.core.lineBreakpoint"
            markerType="org.dcarew.pythontools.core.breakpointMarker"
            name="Python breakpoint">
      </breakpoint>
   </extension>

   <extension point="org.dcarew.pythontools.core.pylintConfigurations">
      <pylintrc name="Chromium" resource="pylintrc/chromium.pylintrc"/>
      <pylintrc name="PEP 8" resource="pylintrc/pep8.pylintrc"/>
   </extension>
   
</plugin>
