<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.dcarew.pythontools.ui.preferences.PythonPreferencePage"
            id="org.dcarew.pythontools.ui.preferences.mainPage"
            name="Python">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dcarew.pythontools.ui.editors.PythonEditor"
            contributorClass="org.dcarew.pythontools.ui.editors.PythonEditorActionContributor"
            extensions="py"
            icon="icons/python_file.png"
            id="org.dcarew.pythontools.ui.editors.python"
            name="Python Editor">
            <contentTypeBinding contentTypeId="org.dcarew.pythontools.pyFile">
        </contentTypeBinding>
      </editor>
   </extension>

   <!-- launch config -->
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.dcarew.pythontools.launchConfig"
            icon="icons/python_16.png"
            id="org.dcarew.pythontools.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.dcarew.pythontools.ui.launching.PythonLaunchConfigurationTabGroup"
            id="org.dcarew.pythontools.launchConfigurationTabGroup"
            type="org.dcarew.pythontools.launchConfig">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.dcarew.pythontools.ui.launching.PythonLaunchShortcut"
            icon="icons/python_16.png"
            id="org.dcarew.pythontools.ui.launching.shortcut"
            label="Python Application"
            modes="run,debug">
            <description description="Executes a Python program" mode="run"/>
            <description description="Debugs a Python program" mode="debug"/>
            <contextualLaunch>
               <enablement>
                  <with variable="selection">
                     <count value="1"/>
                     <iterate>
                        <or>
                           <test property="org.eclipse.debug.ui.matchesPattern" value="*.py"/>
                        </or>
                     </iterate>
                  </with>
               </enablement>
            </contextualLaunch>
         <configurationType id="org.dcarew.pythontools.launchConfig"/>
      </shortcut>
   </extension>

   <extension
      point="org.eclipse.ui.themes">
      <colorDefinition
         id="org.dcarew.pythontools.ui.matchingBracketsColor"
         isEditable="false"
         label="%Dummy.label"
         value="192,192,192">
      </colorDefinition>
      
      <theme
         id="org.eclipse.ui.ide.systemDefault">
         <colorOverride
            id="org.dcarew.pythontools.ui.matchingBracketsColor"
            value="COLOR_WIDGET_NORMAL_SHADOW">
         </colorOverride>
      </theme>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.dcarew.pythontools.ui.preferences.PythonPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.decorators">
      <decorator
         class="org.dcarew.pythontools.ui.navigator.PythonLabelDecorator"
         id="org.dcarew.pythontools.ui.navigator.lightweightDecorator"
         label="Python"
         lightweight="true"
         location="BOTTOM_LEFT"
         state="true">
         
         <enablement>
            <objectClass
               name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

   <!--   File "scripts/pyparse.py", line 51, in <module> -->
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.dcarew.pythontools.ui.console.PythonConsolePatternMatcher"
            id="org.dcarew.pythontools.ui.console.consolePatternMatcher"
            regex='  File "(.*)\.py", line (\d+).*'
            qualifier='  File "'>
         <enablement>
            <test property="org.eclipse.ui.console.consoleTypeTest"
               value="org.eclipse.debug.ui.ProcessConsoleType"/>
         </enablement>
      </consolePatternMatchListener>
   </extension>

</plugin>
